<div class="row" style="margin-top: 10px">
  <div class="col-md-2"></div>
  <div class="col-md-6 col-centered">
      <table class="table table-striped">
          <thead>
          <tr>
            <td>Atividade</td>
          </tr>
          </thead>
          <tbody>
              <a *ngFor="let gif of msg">
                <img
                  src="http://i.giphy.com/{{gif.id}}.gif" title="imagem {{gif.id}}">
              </a>
              <div *ngIf="LIST" class="alert alert-success">
                  <tr  *ngFor="let gif of LIST">
                      <td>{{gif.name}}</td>
                  </tr>
              </div>
              <app-filter-list [json]="LIST"></app-filter-list>
          </tbody>
      </table>
  </div>
  <div class="col-md-2">
    <button (click)="atualizar()" class='.btn-default' type="button" class="btn btn-default">Atualizar</button>
  </div>
</div>
