<div class="row" style="margin-top: 10px">
  <div class="col-md-2">

  </div>
  <div class="col-md-8 col-centered">
      <table class="table table-striped">
          <thead>
              <input *ngIf="_AUTENTICATE" type="text" [(ngModel)]="term" (keyup)="pesquisar()">
          </thead>
          <tbody>
              <div *ngIf="spinner.msg && !_AUTENTICATE" class="alert alert-success">
                  {{timeout}}<div class="{{spinner.class}}">{{spinner.msg}}</div>
              </div>
              <cards-list [json]="_COURSES"></cards-list>
          </tbody>
      </table>
  </div>
  <div class="col-md-2">
    <button (click)="autenticate()" *ngIf="!_AUTENTICATE" class='.btn-default' type="button" class="btn btn-default">Logar</button>
    <button (click)="logout()" *ngIf="_AUTENTICATE" class='.btn-default' type="button" class="btn btn-default">Logout</button>
  </div>
</div>
