<div class="row" style="margin-top: 10px">
  <div class="col-md-2">

  </div>
  <div class="col-md-8 col-centered">
      <table class="table table-striped">
          <thead>
              <input *ngIf="!spinner.msg" type="text" [(ngModel)]="term" (keyup)="pesquisar()">
          </thead>
          <tbody>
              <div *ngIf="spinner.msg" class="alert alert-success">
                  <div class="{{spinner.class}}">{{spinner.msg}}</div>
              </div>
              <cards-list [json]="_COURSES"></cards-list>
          </tbody>
      </table>
  </div>
  <div class="col-md-2">
  </div>
</div>
