<BR/>
<table class="table table-striped">
    <thead>

    </thead>
    <tbody>
      <div *ngIf="!spinner.msg" class="row courseinfo">
          <div class="panel panel-default">
              <div class="panel-body">
                <h4> Atividades </h4>
              </div>
              <div class="panel-footer">
                  <ul class="list-group">
                      <input type="text" [(ngModel)]="term" (keyup)="pesquisar()">
                  </ul>
                  <ul class="list-group" *ngIf="json.courseWork" >
                      <li class="list-group-item" *ngFor="let li of json.courseWork">
                           <ng-container [ngSwitch]="li.workType">
                            <ng-container *ngSwitchCase="'ASSIGNMENT'"><img [src]="Google_Tarefa_icon"></ng-container>
                            <ng-container *ngSwitchCase="'SHORT_ANSWER_QUESTION'"><img [src]="Google_Question_icon"></ng-container>
                            <ng-container *ngSwitchCase="'MULTIPLE_CHOICE_QUESTION'"><img [src]="Google_Question_icon"></ng-container>
                           </ng-container>
                           {{li.title}}
                           <ul class="list-group">
                               <ng-container *ngFor="let materials of li.materials">
                                   <li class="list-group-item" *ngIf="materials.driveFile">
                                        <img src="{{materials.driveFile.driveFile.thumbnailUrl}}" width="10%">
                                        {{materials.driveFile.driveFile.title | slice:0:60}}
                                        <div class="answer">
                                          <a href="{{materials.driveFile.driveFile.alternateLink}}" target="_blank">
                                            <img [src]="Google_Classroom_icon" style="width:40px;">
                                          </a>
                                        </div>
                                   </li>
                                   <li class="list-group-item" *ngIf="materials.youtubeVideo">
                                        <img src="{{materials.youtubeVideo.thumbnailUrl}}" width="15%">
                                        {{materials.youtubeVideo.title | slice:0:60}}
                                        <div class="answer">
                                          <a href="{{materials.youtubeVideo.alternateLink}}" target="_blank">
                                            <img [src]="Google_Classroom_icon" style="width:40px;">
                                          </a>
                                        </div>
                                   </li>
                                   <li class="list-group-item" *ngIf="materials.link">
                                        <img src="{{materials.link.thumbnailUrl}}" width="15%">
                                        {{materials.link.title | slice:0:60}}
                                        <div class="answer">
                                          <a href="{{materials.link.url}}" target="_blank">
                                            <img [src]="Google_Classroom_icon" style="width:40px;">
                                          </a>
                                        </div>
                                   </li>
                               </ng-container>
                               <div class="answer">
                                 <a *ngIf="li.title" href="{{li.alternateLink}}" target="_blank">
                                    <img [src]="Google_Classroom_icon" style="width:40px;">
                                 </a>
                                 <img [src]="Google_Answer_icon" (click)="open_modal(li.id)">
                              </div>
                              <div class="spacer"></div>
                           </ul>
                      </li>
                 </ul>
                 <ul *ngIf="!json.courseWork && !spinner.msg" class="list-group">
                   <li class="list-group-item">
                       Nenhuma Atividade
                   </li>
                 </ul>
             </div>
            </div>
        </div>
    </tbody>
</table>
<div id="modal" class="modal"></div>
