<BR/>
<table class="table table-striped">
    <thead>
    </thead>
    <tbody>
      <div *ngIf="!spinner.msg" class="row courseinfo">
          <div class="panel panel-default">
              <div class="panel-body">
                <h4> Avisos </h4>
              </div>
              <div class="panel-footer">
                  <ul class="list-group">
                  </ul>
                  <ul *ngIf="json" class="list-group">
                      <li *ngFor="let li of json" class="list-group-item">
                          <img [src]="Google_Tarefa_icon">
                           {{li.text}}
                           <ul class="list-group">
                              <ng-container *ngIf="li.materials">
                                <ng-container *ngFor="let materials of li.materials">
                                   <li class="list-group-item" *ngIf="materials.driveFile">
                                       <a href="{{materials.driveFile.driveFile.alternateLink}}" target="_blank">
                                            <img src="{{materials.driveFile.driveFile.thumbnailUrl}}" width="10%">
                                            {{materials.driveFile.driveFile.title | slice:0:60}}
                                       </a>
                                   </li>
                                   <li class="list-group-item" *ngIf="materials.youtubeVideo">
                                       <a href="{{materials.youtubeVideo.alternateLink}}" target="_blank">
                                            <img src="{{materials.youtubeVideo.thumbnailUrl}}" width="15%">
                                            {{materials.youtubeVideo.title | slice:0:60}}
                                       </a>
                                   </li>
                                   <li class="list-group-item" *ngIf="materials.link">
                                       <a href="{{materials.link.url}}" target="_blank">
                                            <img src="{{materials.link.thumbnailUrl}}" width="15%">
                                            {{materials.link.title | slice:0:60}}
                                       </a>
                                   </li>
                                </ng-container>
                              </ng-container>
                               <div class="answer">
                                 <a *ngIf="li.text" href="{{li.alternateLink}}" target="_blank">
                                    <img [src]="Google_Classroom_icon" width="80%">
                                  </a>
                              </div>
                              <div class="spacer"></div>
                           </ul>
                      </li>
                 </ul>
                 <ul *ngIf="!json && !spinner.msg" class="list-group">
                   <li class="list-group-item">
                       Nenhuma Aviso
                   </li>
                 </ul>
             </div>
            </div>
        </div>
    </tbody>
</table>
