<div class="row" style="margin-top: 10px">
  <div class="col-md-2">

  </div>
  <div class="col-md-6 col-centered">
      <table class="table table-striped">
          <thead>

          </thead>
          <tbody>
              <div *ngIf="spinner.msg" class="alert alert-success">
                  <div class="{{spinner.class}}">{{spinner.msg}}</div>
              </div>
              <app-filter-list [json]="_COURSES"></app-filter-list>
          </tbody>
      </table>
  </div>
  <div class="col-md-2">
    <button (click)="autenticate()" *ngIf="!_AUTENTICATE" class='.btn-default' type="button" class="btn btn-default">Logar</button>
    <button (click)="logout()" *ngIf="_AUTENTICATE" class='.btn-default' type="button" class="btn btn-default">Logout</button>
    <button (click)="atualizar()" class='.btn-default' type="button" class="btn btn-default">Atualizar( {{currentHerolocal}} )</button>
  </div>
</div>
