<div class="row" style="margin-top: 10px">
  <div class="col-md-2"></div>
  <div class="col-md-6 col-centered">
      <table class="table table-striped">
          <thead>
          <tr>
            <td>Atividade</td>
            <td>Nota/Nota máxima</td>
          </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let gif of json">
                <td>{{gif.activity}}</td>
                <td>{{gif.grade}}</td>
            </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-2"></div>
</div>
