<div style="text-align:center">
  <!---img [src]="fullImagePath" >
  <img [src]="fullImagePath2" width="10%" -->
</div>
<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li (click)="setActive('google')" class="{{getActive('google')}}"><a [routerLink]="'google'">Google<span class="sr-only">(current)</span></a></li>
        <li (click)="setActive('moodle')" class="{{getActive('moodle')}}"><a [routerLink]="'moodle'">Moodle<span class="sr-only">(current)</span></a></li>

      </ul>
  </div>
</nav>


<router-outlet></router-outlet>
