<BR/>
<table class="table table-striped">
    <thead>
    </thead>
    <tbody>
      <div *ngIf="!spinner.msg" class="row courseinfo">
          <div class="panel panel-default">
              <div class="panel-body">
                <h4> Alunos </h4>
              </div>
              <div class="panel-footer">
                  <ul *ngIf="json" class="list-group">
                    <li *ngFor="let user of json" class="list-group-item">
                       <img src="{{user.photoUrl}}" width="5%">{{user.name.fullName}}
                       <small class="shortname">{{user.emailAddress}}</small>
                       <ul class="list-group">
                          <a (click)="open_logs(user)" class="answer">
                              <img [src]="Google_Log_icon" width="80%">
                          </a>
                          <div class="spacer"></div>
                       </ul>
                    </li>
                 </ul>
                 <ul *ngIf="!json[0] && !spinner.msg" class="list-group">
                   <li class="list-group-item">
                       Nenhuma Aluno
                   </li>
                 </ul>
             </div>
            </div>
        </div>
    </tbody>
</table>
<div id="modal"></div>
