<BR/>
<table  class="table table-striped">
    <tbody>
      <tr  *ngFor="let list of json">
        <div class="row courseinfo">
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>
                    <a [routerLink]="['/card-details', list.id]" (click)="choice('card-details',list)">{{list.name}}</a>
                    <small class="shortname">{{list.descriptionHeading}}</small>
                </h4>
              </div>
              <div class="panel-footer">
                <a *ngIf="list.folder" href="{{list.folder}}" target="_blank"><img [src]="Google_Drive_icon"></a>
                <a href="{{list.alternateLink}}" target="_blank"><img [src]="Google_Classroom_icon"></a>
                <a [routerLink]="['/activity-details', list.id]" (click)="choice('activity-details',list)"><img [src]="Google_Activity_icon"></a>
              </div>
            </div>
        </div>
      </tr>
    </tbody>
</table>
<div id="modal"></div>
